.character-details {
	min-height: 100vh;
}

.character-details__banner {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 40%;
	height: 400px;
	opacity: .7;
	box-shadow: 0px 4px 8px 4px #222;
}

.character-details__back-link {
	display: inline-block;
	background: #333;
	padding: 12px;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	opacity: .7;
}

.character-details__back-link,
.character-details__back-link:hover {
	color: #ffffff;
}

.character-details__overlay {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(51,51,51,1) 100%)
}

.character-details__title {
	align-self: flex-end;
	margin-bottom: 24px;
	padding: 12px;
	font-size: 48px;
	text-transform: uppercase;
	color: #ffffff;
}


